<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/app.js"></script>

  </head>
  <body>
    <header>
      <nav>
        <div class="nav-left">
          <div class="btn btn-homepage">回到首頁</div>
        </div>
        <div class="nav-right">
          <div class="btn btn-about">About</div>
          <div class="btn btn-porfolio">Portfolio</div>
          <div class="btn btn-contact">Contact</div>
        </div>
      </nav>
    </header>

    <!-- partial templates will replace the part of "body" here -->
    {{{body}}}

  </body>
</html>